name = "warp"
main = "src/main.ts"
compatibility_date = "2024-11-04"

[vars]
ENVIRONMENT = "production"

[dev]
ip = "127.0.0.1"
port = 8788
local_protocol = "http"

[vars]
# AUTH_API_URL = "http://127.0.0.1:8787"
# OCR_SRV_URL = "http://127.0.0.1:8789"
AUTH_API_URL = "https://auth.vpbank.workers.dev"
OCR_SRV_URL = "https://fbjwmzfdhxwnliaao4fvip4qxi0cahya.lambda-url.ap-southeast-2.on.aws"

[observability]
enabled = true
head_sampling_rate = 1

[observability.logs]
enabled = true
head_sampling_rate = 1
persist = true
invocation_logs = true

[observability.traces]
enabled = true
persist = true
head_sampling_rate = 1